@use '@angular/material' as mat;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$magenta-palette,
  ),
));

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

table {
  width: 100%;
}

.leaderboard {
  width: 90%;
  height: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.mat-column-Rank {
  width: 32px;
  //border-right: 1px solid mat.get-theme-color($theme, neutral, 20);
  padding-right: 24px;
  text-align: center;
}


.cell-username {
  color: mat.get-theme-color($theme, primary, 80);
}

.gray { background-color: #2e2a2d }

.content {
  text-align: left;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

// .mat-tab-group {
//   margin-bottom: 48px;
// }

// mat-grid-tile {
//   background: lightblue;
// }
