<mat-toolbar class="mat-toolbar mat-accent">
  <span>climb.tf</span>
  <section>
    <div class="example-button-row">
      <a color="accent" mat-button href="/">Home</a>
      <a color="accent" mat-button href="/about">About</a>
      <a color="accent" mat-button href="/leaderboards">Leaderboards</a>
      <a color="accent" mat-button href="/jumpstats">Jumpstats</a>
      <a color="accent" mat-button href="/maps">Maps</a>
      <a color="accent" mat-button href="/discord">Discord</a>
      <a color="accent" mat-button href="/steam-group">Steam Group</a>
<!--      <a mat-button href="https://www.google.com/" target="_blank">Link</a>-->
    </div>
  </section>
</mat-toolbar>
